.interest-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
form label {
  font-size: 1.4em;
  font-weight: 600;
}
input,
textarea {
  border: 4px solid var(--colors-secondary);
  outline: thick double var(--colors-secondary);
}
form > button {
  width: fit-content;
  padding: 10px;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--colors-tertiary);
  background-color: var(--colors-secondary);
  border: 4px ridge var(--colors-tertiary);
}
form select {
  color: var(--background-color);
  border-radius: 0;
}
form option {
  color: var(--background-color);
  border-radius: 0;
}
input[type="checkbox"] {
  accent-color: var(--colors-secondary);
}
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.disabled {
  opacity: 0.5;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@media (max-width: 600px) {
  form {
    width: 100%;
  }
  .rsvp-form-container > h2 {
    align-self: baseline;
  }
}
