---
import InterestForm from "../components/InterestForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="wrapper">
    <img src="/smash.png" alt="piranha plant vs dragon man" />
    <div class="container">
      <h1>Samkough Smash Tournament 2025</h1>
      <br />
      <InterestForm />
      <br />
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
  }
  .wrapper img {
    flex: 1;
  }
  .container {
    max-width: 500px;
  }
  h1 {
    font-family: impact;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 1000;
    font-size: 3.2em;
  }
  p {
    margin-top: 1em;
    line-height: 1.8em;
    font-size: 1.6em;
    font-weight: 600;
  }
  marquee {
    font-size: 1.6em;
    font-family: comic sans MS;
  }
  a[href="#rsvp-form"],
  #bracket-link {
    color: var(--colors-tertiary);
    background-color: var(--colors-secondary);
    font-size: 4em;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 0.2em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  @media (max-width: 700px) {
    .wrapper {
      display: flex;
      gap: 1em;
      flex-direction: column;
    }
  }
</style>
