---
import RegistrationForm from "../components/RegistrationForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="wrapper">
    <img src="/smash.png" alt="piranha plant vs dragon man" />
    <div class="container">
      <h1>Samkough Smash Tournament 2024</h1>
      <br />
      <marquee>FRIDAY JULY 26</marquee>
      <br />
      <br />
      <!-- <a href="#rsvp-form">REGISTER TO SMASH BELOW</a> -->
      <a
        id="bracket-link"
        href="https://www.start.gg/tournament/samkough-smash-tournament-2024/event/samkough-smash-tournament-2024/overview"
        >https://www.start.gg/tournament/samkough-smash-tournament-2024</a
      >
      <br />
      <p>
        Are you ready?! ARE YOU ?! For the comeback of the annual <strong
          >2024 Super Smash Samkough Super Bonanza Tournament Extradonaire</strong
        > ?!?!?!
      </p>
      <p>
        You might be asking yourself, "Where have you been?", Well we're back,
        we are right here !!!
      </p>
      <p>
        We will be playing <u>Super Smash Bros. Ultimate</u> on a Nintendo Switch
        OLED. A variety of controllers will be at the venue.
      </p>
      <p>
        The tournament style will be <u>double elimination</u>. Only one
        character per human being is allowed for the tournament.
      </p>
      <p>
        Who are you going to main? Who are you going to play? We are eagerly
        anticipating all the different types of players that will be showing up
        !
      </p>
      <marquee
        >HAHAHHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHAHAHHAHAHAHAHAHA</marquee
      >
      <p>Fill out this form here to register for the tournament:</p>
      <br />
      <RegistrationForm />
      <br />
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
  }
  .wrapper img {
    flex: 1;
  }
  .container {
    max-width: 500px;
  }
  h1 {
    font-family: impact;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 1000;
    font-size: 3.2em;
  }
  p {
    margin-top: 1em;
    line-height: 1.8em;
    font-size: 1.6em;
    font-weight: 600;
  }
  marquee {
    font-size: 1.6em;
    font-family: comic sans MS;
  }
  a[href="#rsvp-form"],
  #bracket-link {
    color: var(--colors-tertiary);
    background-color: var(--colors-secondary);
    font-size: 2em;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 0.2em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  @media (max-width: 700px) {
    .wrapper {
      display: flex;
      gap: 1em;
      flex-direction: column;
    }
  }
</style>
