---
import "./../styles/form.css";
import "./../scripts/form.js";
---

<form
  data-netlify="true"
  name="rsvp-form"
  id="rsvp-form"
  method="POST"
  netlify-honeypot="bot-field"
  onsubmit="handleSubmit"
  action="/success"
>
  <input type="hidden" name="form-name" value="rsvp-form" />
  <div class="field">
    <label for="first-name">First name *</label>
    <input required name="first-name" id="first-name" type="text" />
  </div>
  <div class="field">
    <label for="last-name">Last name *</label>
    <input required name="last-name" id="last-name" type="text" />
  </div>
  <div class="field">
    <label for="nickname">Nickname / Gamer Tag</label>
    <input name="nickname" id="nickname" type="text" />
  </div>
  <div class="" style="display: flex; gap: 16px; align-items: center;">
    <label for="use-nickname">Would you like for us to use your nickname?</label
    >
    <input name="use-nickname" id="use-nickname" type="checkbox" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input name="email" id="email" type="email" />
  </div>
  <div class="field">
    <label for="phone-number">Phone Number</label>
    <input name="phone-number" id="phone-number" type="number" />
  </div>
  <div class="field">
    <label for="battle-phrase">Battle Phrase *</label>
    <textarea required name="battle-phrase" id="battle-phrase" rows={1}
    ></textarea>
  </div>
  <div class="field">
    <label for="excuse">Excuse for When You Lose</label>
    <textarea name="excuse" id="excuse" rows={2}></textarea>
  </div>
  <div class="field">
    <label for="comments">Anything else?</label>
    <textarea name="comments" id="comments" rows={3}></textarea>
  </div>
  <button class="button" type="submit">SMASH</button>
</form>
